/* REFERENCE GUIDE
__navbar used by:
- base.html

__home used by:
- home.html
- queue.html

__pending used by:
- pending.html
- summary.html

__queueform used by:
- queueform.html
*/

:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body {
    margin: 0px;
}

#__navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}

#__navbar li {
    display: inline;
    float: left;
}

#__navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
}

#__navbar li a:hover {
    background-color: #111;
  }

#__navbar #brand {
    padding: 0px 20px;
    text-decoration-color: #787a7b;
    font-style: italic;
  }

/* Home */
#__home #title {
    padding: 0px 20px;
    color: #0088dd;
    font-style: italic;
    font-size: 40px;
    text-align: center;
}
#__home th, td {
    border: 2px solid #0044AA;
    border-collapse: collapse;
    padding: 5px;
}
#__home table {
    margin-left: auto;
    margin-right: auto;
}

#__home th {
    background-color: #0088dd;
    color: white;
  }


/* Root tag edits */
#__pending {
    margin: 50px auto;
    border: 5px solid #0044AA;
    width: 75%;
}

#__pending section {
    padding: 0px 25px;
}

/* Classes used all throughout */
#__pending .align-center {
    text-align: center;
}

#__pending .align-end {
    text-align: end;
}

#__pending .text-red {
    color: red;
}

#__pending .border-line {
    height: 1px;
    border-bottom: 5px solid #0044AA;
    margin-bottom: 10px;
    margin-left: -1px;
    width: calc(100% + 2px);
}

/* 1st box: title and contract info */
#__pending #title {
    padding: 0px 25px;
    color: #0088DD;
    font-style: italic;
}

#__pending #contract-info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px 125px;
    margin-bottom: 15px;
}

#__pending #contract-info p {
    width: 200px;
}

#__pending .info-field {
    display: grid;
    grid-template-columns: 150px 100px;
    margin: -18px 0px;
}

/* 2nd box: Current Containers */
#__pending #current-containers {
    margin-bottom: 10px;
}

#__pending .container-headers {
    display: grid;
    grid-template-columns: auto 75px 75px 100px 100px 65px;
}

#__pending .container-info {
    margin: -30px 0px 0px;
    display: grid;
    grid-template-columns: auto 75px 75px 100px 100px 65px;
}

/* 3rd box: Pending Containers */
#__pending #pending .container-info p {
    color: red;
}

#__pending #pending .container-info a {
    color: red;
}

#__pending #total-row {
    margin: -30px 0px 0px;
    display: grid;
    grid-template-columns: auto 75px 75px 100px 100px 65px;
    grid-column-start: 2;
}

#__pending #total-row-header {
    grid-column-start: 3;
}

#__pending #total-row-wt {
    grid-column-start: 4;
    color: red;
}

#__pending #total-row-distr {
    grid-column-start: 5;
    color: red;
}

/* 4th box: Hyperlinks */
#__pending #hyperlinks {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0px 0px;
    margin-bottom: 15px;
}

@media(min-width: 1200px) {
    #__pending {
        margin: 50px auto;
        width: 900px;
    }
}

@media(max-width: 900px) {
    #__pending {
        margin: 50px auto;
        width: 675px;
    }
    
    #__pending #contract-info {
        grid-template-columns: auto;
    }
}

@media(max-width: 675px) {
    #__pending {
        width: 100%;
    }

    #__pending .container-info {
        grid-template-columns: auto auto auto auto auto 65px;
    }

    #__pending .container-headers {
        grid-template-columns: auto auto auto auto auto 65px;
    }
}


/* Queueform */
#__queueform body {
    margin: 50px 50px;
}

#__queueform section {
    padding: 0px 20px;
}
/* Classes used all throughout */
#__queueform .align-center {
    text-align: center;
}

#__queueform .align-end {
    text-align: end;
}

/* 1st box: title and contract info */
#__queueform #title {
    padding: 0px 10px;
    color: brown;    
    text-align: center;
}

#__queueform #contract-info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px 200px;
    margin-bottom: 15px;
    border-color: coral;
}

#__queueform #contract-info p {
    width: 200px;
}

#__queueform .info-field {
    display: grid;
    grid-template-columns: 125px 100px;
    margin: -18px 0px;
}

#__queueform table, th, td {
    border: 2px solid #0044AA;
    border-collapse: collapse;
  }

  #__queueform th {
    background-color: #0088dd;
    color: white;
  }




tr:hover {background-color: #f5f5f5;}

