/* Root tag edits */
:root {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body {
    margin: 50px auto;
    border: 5px solid #0044AA;
    width: 75%;
}

section {
    padding: 0px 25px;
}

/* Classes used all throughout */
.align-center {
    text-align: center;
}

.align-end {
    text-align: end;
}

.text-red {
    color: red;
}

.border-line {
    height: 1px;
    border-bottom: 5px solid #0044AA;
    margin-bottom: 10px;
    margin-left: -1px;
    width: calc(100% + 2px);
}

/* 1st box: title and contract info */
#title {
    padding: 0px 25px;
    color: #0088DD;
    font-style: italic;
}

#contract-info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px 200px;
    margin-bottom: 15px;
}

#contract-info p {
    width: 200px;
}

.info-field {
    display: grid;
    grid-template-columns: 125px 100px;
    margin: -18px 0px;
}

/* 2nd box: Current Containers */
#current-containers {
    margin-bottom: 10px;
}

.container-headers {
    display: grid;
    grid-template-columns: auto 75px 75px 100px 100px 65px;
}

.container-info {
    margin: -30px 0px 0px;
    display: grid;
    grid-template-columns: auto 75px 75px 100px 100px 65px;
}

/* 3rd box: Pending Containers */
#pending .container-info p {
    color: red;
}

#pending .container-info a {
    color: red;
}

#total-row {
    margin: -30px 0px 0px;
    display: grid;
    grid-template-columns: auto 75px 75px 100px 100px 65px;
    grid-column-start: 2;
}

#total-row-header {
    grid-column-start: 3;
}

#total-row-wt {
    grid-column-start: 4;
    color: red;
}

#total-row-distr {
    grid-column-start: 5;
    color: red;
}

/* 4th box: Hyperlinks */
#hyperlinks {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0px 0px;
    margin-bottom: 15px;
}

@media(min-width: 1200px) {
    body {
        margin: 50px auto;
        width: 900px;
    }
}

@media(max-width: 900px) {
    body {
        margin: 50px auto;
        width: 675px;
    }
    
    #contract-info {
        grid-template-columns: auto;
    }
}

@media(max-width: 675px) {
    body {
        width: 100%;
    }

    .container-info {
        grid-template-columns: auto auto auto auto auto 65px;
    }

    .container-headers {
        grid-template-columns: auto auto auto auto auto 65px;
    }
}