<!-- Initial Page with Company Contracts Listed -->
{% extends 'base.html' %} {% block title %}FACT Contracts{% endblock title %}
{% block content %}
<div>
  <h1 style="text-align:center; color:#0275d8; margin-bottom: 1.1em;">CONTRACTS</h1>
  <table class="table table-bordered table-hover table-sm" style="width: 100%;">
    <thead class="thead-dark" style="text-align: center;">
      <tr>
        <th scope="col">Company code</th>
        <th scope="col">Contract Number</th>
        <th scope="col">Operator</th>
        <th scope="col">Date</th>
        <th scope="col">View Summary</th>
      </tr>
    </thead>
    {% for contract in contracts %}
    {% if not contract.pend_containers %}
    <tr style="text-align: center;">
      <td scope="row">{{ contract.company_code }}</td>
      <td scope="row">{{ contract.contract_number }}</td>
      <td scope="row">{{ contract.operator }}</td>
      <td scope="row">{{ contract.contract_date }}</td>
      <td scope="row" style="text-align: center;">
        <button type="button" class="btn btn-light"><a href="{% url 'contract_detail' contract.id %}">SELECT</a></button>
        
      </td>
    </tr>

    {% endif %}
    {% endfor %}

  </table>
</div>
{% endblock content %}
