{% extends 'base.html' %}

{% block title %}Grade A containers{% endblock title %}

{% block content %}
<h2 id="title">TOP RATED UNITS</h2>
  <table class="table table-striped" style="width:80%">
    <thead class="thead-light">
  <tr>
    <th>RESTRICT CODE</th>
    <th>COMPANY</th>
    <th>UNIT DESCRIPTOR</th>
  </tr>
  </thead>
  <tr>
    <td>B-2</td>
    <td>BRIGHT CARGO</td>
    <td>B/100-3</td>
  </tr>
  <tr>
    <td>B-2</td>
    <td>BRIGHT CARGO</td>
    <td>B/200-4</td>
  </tr>
  <tr>
    <td>B-2</td>
    <td>BRIGHT CARGO</td>
    <td>B/200-5</td>
  </tr>
  <tr>
    <td>B-2</td>
    <td>BRIGHT CARGO</td>
    <td>B/300-1</td>
  </tr>
  <tr>
    <td>B-2</td>
    <td>BRIGHT CARGO</td>
    <td>B/200-4</td>
  </tr>
  <tr>
    <td>B-1</td>
    <td>BRIGHT CARGO</td>
    <td>B/300-1</td>
  </tr>
  <tr>
    <td>B-1</td>
    <td>BRIGHT CARGO</td>
    <td>B/300-10</td>
  </tr>
  <tr>
    <td>N</td>
    <td>JACKS N-L</td>
    <td>JNL/100-449</td>
  </tr>
  <tr>
    <td>N</td>
    <td>JACKS N-L</td>
    <td>JNL/100-454</td>
  </tr>
<tr>
    <td>N</td>
    <td>JACKS N-L</td>
    <td>JNL/100-455</td>
  </tr>
  <tr>
    <td>N</td>
    <td>JACKS N-L</td>
    <td>JNL/3000-452</td>
  </tr>
  <tr>
    <td>A-1</td>
    <td>AXIOM</td>
    <td>AX-21-105</td>
  </tr>
  <tr>
    <td>A-1</td>
    <td>AXIOM</td>
    <td>AX-21-XX01</td>
  </tr>
  <tr>
    <td>A-2</td>
    <td>AXIOM</td>
    <td>AX-21-XX081</td>
  </tr>
  <tr>
    <td>A-2</td>
    <td>AXIOM</td>
    <td>AX-21-XX09</td>
  </tr>
<tr>
    <td>PR2</td>
    <td>PRUDENT TRANSPORT</td>
    <td>PR-Y15-10406</td>
  </tr>
  <tr>
    <td>PR2</td>
    <td>PRUDENT TRANSPORT</td>
    <td>PR-Y15-10409</td>
  </tr>
  <tr>
    <td>PR3</td>
    <td>PRUDENT TRANSPORT</td>
    <td>PR-Y15-10423</td>
  </tr>
</table>
{% endblock content %}