<!-- Initial Page with Company Contracts Listed -->
{% extends 'base.html' %}

{% block title %}FACT Pending{% endblock title %}

{% block content %}
<div id="__home">

    <h1 id="title">FACT</h1>
    <table style="width: 70%">
      <tr>
        <th>Company code</th>
        <th>Contract Number</th>
        <th>Operator</th>
        <th>Date</th>
        <th>View Summary</th>
      </tr>
      {% for contract in contracts %}
      <tr style="background-color: skyblue">
        <td>{{ contract.company_code }}</td>
        <td>{{ contract.contract_number }}</td>
        <td>{{ contract.operator }}</td>
        <td>{{ contract.contract_date }}</td>
        <td><a href="{% url 'contract_detail' contract.id %}">SELECT</a></td>
      </tr>
      {% endfor %}
{% endblock content %}

