
<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
<title>Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">

<style>
body {
  background-color: white;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle" style="margin-top: 270px;">
    <h1 class="w3-jumbo" style="color: #007bff; font-family: Raleway, sans-serif;">Welcome to FACT</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center"style="margin-top: 20px; color: black;font-family: Raleway, sans-serif;">FAst Container Transfer</p>
  </div>
</div>

</body>
{% endblock content %}
</html>






