<!-- Summary of Transfers with Pending Changes -->
<style>
  *{
    font-size: 13px;
  }
  .date{
  color: black;
  padding: 0px 25px;
  font-style: italic;
}
.header {
    padding: 0px 25px;
    color: #0088DD;
    font-style: italic;
}
p{
  padding: -6px;
  padding-left: 19px;
}
table{
  padding:1.5px;
}
h1{
  color: #0088DD;
}

</style>
<div id="__pending">
  <h1 class="header">FACT - Cargo Transfer SUMMARY</h1>
  
  <section id="contract-info">
    <div class="info-field">
      <p><b>Contract NO.:</b></p>
      <p>{{ contract.contract_number }}</p>
    </div>
    <div class="info-field">
      <p><b>Total Weight:</b></p>
      <p>{{ contract.total_weight }}</p>
    </div>
    <div class="info-field">
      <p><b>Product CO.:</b></p>
      <p>{{ contract.company_code }}</p>
    </div>
    <div class="info-field">
      <p><b>Contract Date:</b></p>
      <p>{{ contract.contract_date }}</p>
    </div>
    <div class="info-field">
      <p><b>Product:</b></p>
      <p>{{ contract.product }}</p>
    </div>
    <div class="info-field">
      <p><b>Restrictions:</b></p>
      <p>{{contract.restrictions}}</p>
    </div>
    <div class="info-field">
      <p><b>Operator:</b></p>
      <p>{{ contract.operator }}</p>
    </div>
  </section>
  <div class="border-line"></div>
  <section id="current-containers">
    <div id="current-containers-parts">
      <div class="container-headers">
        <h1>Current Containers</h1>
        <h3 class="date">Created on {{ contract.contract_date }}</h3>
        
        <div class="container-info">
          {% for container in contract.curr_containers %}
          <table>
            <tr>
              <th>Container</th>
              <th>BOL</th>
              <th>COC</th>
              <th>Weight</th>
              <th>Percent</th>
            </tr>
          </table>
          <table>
            <tr>
              <td>{{ container.container }}</td>
              <td><a href="#">BL144</a></td>
              <td><a href="#">COC</a></td>
              <td>{{ container.weight }}</td>
              <td>100%</td>
            </tr>
          </table>
          {% endfor %}
          <section id="pending-containers" class="text-red">
            <div id="pending-containers-parts">
              <div class="container-headers">
                <h1>Pending Containers</h1>
                <h3 class="date" > Updated at: {{ contract.contract_date_updated_at }}</h3>
              </div>
              <div class="container-info">
                {% for container in contract.pend_containers %}
                <table>
                  
                  <tr>
                    <td>{{ container.container }}</td>
                    <td><a href="#">BL144</a></td>
                    <td><a href="#">COC</a></td>
                    <td>{{ container.weight }}</td>
                    <td>100%</td>
                  </tr>
                </table>
                {% endfor %}
                
                <h2 id="sign">Agent: ______________________________</h2>
                
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>
