<!-- Summary of Transfers with Pending Changes -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VAST SUMMARY</title>
  </head>
  <body>
    <section id="Contract-info">
      <h1>VAST- Cargo Transfer SUMMARY</h1>
      <div id="contract-info-parts"></div>
      <ul>
        <li><h2>Contract NO.:</h2></li>
        <li><h2>Product CO.:</h2></li>
        <li><h2>Product:</h2></li>
        <li><h2>Operator:</h2></li>
        <li><h2>Total Weight:</h2></li>
        <li><h2>Contract Date:</h2></li>
        <li><h2>Restrictions:</h2></li>
    </ul>
  </section>

  <section id="current-containers">
    <div id="current-containers-parts">
      <ul>
        <li><h2>Current Containers</h2></li>
        <li><h2>Tare Weight</h2></li>
        <li><h2>Distribution</h2></li>
        <li><h2>Transfer</h2></li>
        <a href="">Available Units</a>
        <a href="">Top Rated Units</a>
        <a href=""> Reallocate All Cointainers</a>
        <a href=""> Reblance to New Weight</a>
      </ul>
    </div>
  </section>

  <section id="pending">
    <h2>Pending Containers</h2>
    <!-- List the pending containers -->
    <ul>
        <li><h2>Tare Weight</h2>
            <!-- List Weight for each container -->
        </li>
        <li><h2>Distribution</h2>
            <!-- List Distribution for related container -->
        </li>
<h2>Total</h2>
    </ul>

    

    <table style="width:65%">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
        </tr>
      </table>





    
  </section>
  
  <section id="sign-save">
    <ul>
      <li>E-sign and Save</li>
      <li>Save</li>
    </ul>
  </section>
  </body>
</html>







 

