<!-- Summary of Transfers with Pending Changes -->

{% extends 'base.html' %}

{% block title %}FACT Pending{% endblock title %}

{% block content %}

<!-- contract information -->
<div id="__pending">
  <h1 id="title">FACT - Cargo Transfer PENDING</h1>
  <section id="contract-info">
    <div class="info-field">
      <p><b>Contract NO.:</b></p>
      <p>{{ contract.contract_number }}</p>
    </div>
    <div class="info-field">
      <p><b>Total Weight:</b></p>
      <p>{{ contract.total_weight }}</p>
    </div>
    <div class="info-field">
      <p><b>Product CO.:</b></p>
      <p>{{ contract.company_code }}</p>
    </div>
    <div class="info-field">
      <p><b>Contract Date:</b></p>
      <p>{{ contract.contract_date }}</p>
    </div>
    <div class="info-field">
      <p><b>Product:</b></p>
      <p>{{ contract.product }}</p>
    </div>
    <div class="info-field">
      <p><b>Restrictions:</b></p>
      <p>{{contract.restrictions}}</p>
    </div>
    <div class="info-field">
      <p><b>Operator:</b></p>
      <p>{{ contract.operator }}</p>
    </div>
  </section>
  <div class="border-line"></div>

<!--Current Containers -->
  
<section id="current-containers">
  <div id="current-containers-parts">
    <div class="container-headers">
      <p><b>Current Containers</b></p>
      <p></p>
      <p></p>
      <p class="align-end"><b>Tare WT</b></p>
      <p class="align-end"><b>DISTR</b></p>
      <p class="align-center"><b>XFR</b></p>
    </div>
    {% for container in contract.curr_containers %}
    <div class="container-info">
      <p>{{ container.container }}</p>
      <p><a href="#">BL144</a></p>
      <p><a href="#">COC</a></p>
      <p class="align-end">{{ container.weight }}</p>
      <p class="align-end">100%</p>
      <p class="align-center">
        <a
          href="{% url 'queue' contract.id container.container|urlencode:"" %}"
          >T</a
        >
      </p>
    </div>
    {% endfor %}
    <!-- <pre>{{ contract.curr_containers }}</pre> -->
</div>
<div class="border-line"></div>
</section>

  <!-- Pending Containers -->

      <section id="pending-containers" class="text-red">
        <div id="pending-containers-parts">
          <div class="container-headers">
            <p><b>Pending Containers</b></p>
            <p></p>
            <p></p>
            <p class="align-end"><b>Tare WT</b></p>
            <p class="align-end"><b>DISTR</b></p>
          </div>
          {% for master_container in contract.pend_containers %}
            {% for container in master_container.distribution %}
              <div class="container-info">
                <p>{{ container.container }}</p>
                <p><a href="#">BL144</a></p>
                <p><a href="#">COC</a></p>
                <p class="align-end">{{ container.weight }}</p>
                <p class="align-end">100%</p>
              </div>
            {% endfor %}
          {% endfor %}
          <!-- <pre>{{ contract.curr_containers }}</pre> -->
      </div>
    </section>

    <!-- bottom links -->
<div class="border-line"></div>
  <section id="hyperlinks">
    <p class="align-center"><a href="{% url 'containers' %}">Available Containers</a></p>
    <p class="align-center"><a href="#">Reallocate Containers</a></p>
    <p class="align-center"><a href="{% url 'pdf_view' contract.id %}">View PDF</a></p>
    <p class="align-center"><a href="{% url 'grade_a'  %}">GRADE A - WWT</a></p>
    <p class="align-center"><a href="#">Rebalance to New Weights</a></p>
    <p class="align-center"><a href="{% url 'pdf_download' %}">Download PDF</a></p>
  </section>

</div>
{% endblock content %}
