<!-- Transfer Form -->

{% extends 'base.html' %}

{% block title %}FACT Pending{% endblock title %}

{% block content %}
<div id="__queueform">
  <h1 id="title">QUEUE FORM</h1>
    <section id="contract-info" class= "border-line">
      <div class="info-field">
        <p><b>Transferring From: </b></p>
      </div>
      <div class="info-field">
        <p><b>Weight</b></p>
      </div>
      <div class="info-field">
        <p>101 JNL/10-448</p>
      </div>
      <div class="info-field">
        <p>38,539</p>
      </div>
      <div class="info-field">
        <p><b>Transferred</b></p>
      </div>
      <div class="info-field">
        <p>31,539</p>
      </div>
      <div class="info-field">
        <p><b>Balance In:</b></p>
      </div>
      <div class="info-field">
        <p>7,000</p>
      </div>
      <div class="info-field">
        <p><b>TRANSFER TO:</b></p>
      </div>
      <div class="info-field">
        <p></p>
      </div>
      <div class="info-field">
        <p>TRANSFERRED</p>
      </div>
      <div class="info-field">
        <p>31,539</p>
      </div>
    </section>

  <form method="POST">
  {% csrf_token %}
  <table style="margin:auto">
  {{ form.as_table }}
  </table>
  <button style="font-size: 2rem; margin: auto">Transfer</button>
  </form>
    </div>
{% endblock %}
