<!-- Transfer Form -->

{% extends 'base.html' %}

{% block title %}FACT Pending{% endblock title %}

{% block content %}
<div id="__queueform">
  <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary">Back</a>
  <h1 id="title">QUEUE FORM</h1>
  <section id="contract-info" class= "border-line">
    <div class="info-field">
      <p><b>Transferring From: </b></p>
    </div>
    <div class="info-field">
      <p><b>Weight</b></p>
    </div>
    <div class="info-field">
      <p>{{ form.from_container }}</p>
    </div>
    <div class="info-field">
      <p>{{ form.from_container_weight }}</p>
    </div>
  </section>

  <form method="POST">
    {% csrf_token %}
    <table style="margin:auto">
      {% for field in form %}
        <div class="container-control-container">
          <tr class="container-control">
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
            <td><input type="number" class="percent-control" step="any">%</td>
          </tr>
        </div>
      {% endfor %}
    </table>
    <button style="font-size: 2rem; margin: auto">Transfer</button>
  </form>
  <script>
    const controlContainer = document.querySelector(
      ".container-control-container"
    );
    const totalWeight = {{ form.from_container_weight }};
    const controls = document.querySelectorAll(".container-control");
    
    for (const control of controls) { 
      const percentInput = control.querySelector(
      ".percent-control"
      );
      const weightInput = control.querySelector("input[name]");
      weightInput.addEventListener("input", () => {
        percentInput.value = ((Number(weightInput.value) / totalWeight) * 100).toFixed(3);
      });
      percentInput.value = ((Number(weightInput.value) / totalWeight) * 100).toFixed(3);
      percentInput.addEventListener("input", () => {
        weightInput.value = Math.round((totalWeight * Number(percentInput.value)) / 100);
      });
    }
  </script>
</div>
{% endblock %}
