<!-- Initial Page with Company Contracts Listed -->
{% extends 'base.html' %}

{% block title %}FACT Pending{% endblock title %}

{% block content %}
<div id="__home">

    <h1 id="title">QUEUE</h1>
    <table class="table table-striped" style="width: 70%">
      <tr>
        <thead class="thead-light">
        <th scope="col">Company code</th>
        <th scope="col">Contract Number</th>
        <th scope="col">Operator</th>
        <th scope="col">Date</th>
        <th scope="col">Updated At</th>
        <th scope="col">View Summary</th>
      </tr>
      </thead>
      {% for contract in contracts %}
      {% if contract.pend_containers %}
      <tr>
        <td scope="row">{{ contract.company_code }}</td>
        <td scope="row">{{ contract.contract_number }}</td>
        <td scope="row">{{ contract.operator }}</td>
        <td scope="row">{{ contract.contract_date }}</td>
        <td scope="row">{{ contract.contract_date_updated_at }}</td>
        <td scope="row"><a href="{% url 'pending' contract.id %}">SELECT</a></td>
      </tr>
      {% endif %}
      {% endfor %}
{% endblock content %}

