<!-- Summary of Transfers with Pending Changes -->

{% extends 'base.html' %}

{% block title %}FACT Pending{% endblock title %}

{% block content %}
  <div id="__pending">
    <h1 id="title">FACT - Cargo Transfer SUMMARY</h1>
    <section id="contract-info">
      <div class="info-field">
        <p><b>Contract NO.:</b></p>
        <p>{{ contract.contract_number }}</p>
      </div>
      <div class="info-field">
        <p><b>Total Weight:</b></p>
        <p>{{ contract.total_weight }}</p>
      </div>
      <div class="info-field">
        <p><b>Product CO.:</b></p>
        <p>{{ contract.company_code }}</p>
      </div>
      <div class="info-field">
        <p><b>Contract Date:</b></p>
        <p>{{ contract.contract_date }}</p>
      </div>
      <div class="info-field">
        <p><b>Product:</b></p>
        <p>{{ contract.product }}</p>
      </div>
      <div class="info-field">
        <p><b>Restrictions:</b></p>
        <p>{{contract.restrictions}}</p>
      </div>
      <div class="info-field">
        <p><b>Operator:</b></p>
        <p>{{ contract.operator }}</p>
      </div>
    </section>
    <div class="border-line"></div>
    <section id="current-containers">
      <div id="current-containers-parts">
        <div class="container-headers">
          <p><b>Current Containers</b></p>
          <p></p>
          <p></p>
          <p class="align-end"><b>Tare WT</b></p>
          <p class="align-end"><b>DISTR</b></p>
          <p class="align-center"><b>XFR</b></p>
        </div>
        {% for container in contract.curr_containers %}
        <div class="container-info" >
          <p>{{ container.container }}</p>
          <p><a href="#">BL144</a></p>
          <p><a href="#">COC</a></p>
          <p class="align-end">{{ container.weight }}</p>
          <p class="align-end">100%</p>
          <p class="align-center">
            <a href="{% url 'queue' contract.id container.container|urlencode:"" %}">T</a>
          </p>
        </div>
        {% endfor %}
        <!-- <pre>{{ contract.curr_containers }}</pre> -->
    </div>
  </section>
  <div class="border-line"></div>
  <section id="hyperlinks">
    <p class="align-center"><a href="{% url 'containers' %}">Available Containers</a></p>
    <p class="align-center"><a href="#">Reallocate Containers</a></p>
    <p class="align-center"><a href="{% url 'pdf_view' contract.id %}">Print and Sign </a></p>
    <p class="align-center"><a href="#">GRADE A - WWT</a></p>
    <p class="align-center"><a href="#">Rebalance to New Weights</a></p>
    <p class="align-center"><a href="{% url 'pdf_download' %}">Download</a></p>
  </section>
</div>
{% endblock content %}
