<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VAST SUMMARY</title>
  </head>
  <body>
    <h1>VAST- Cargo Transfer SUMMARY</h1>
    <ul>
      <li>Contract NO.:</li>
      <li>Product CO.:</li>
      <li>Product:</li>
      <li>Operator:</li>
      <li>Total Weight:</li>
      <li>Contract Date:</li>
      <li>Restrictions:</li>
    </ul>
    <ul>
      <li>Current Containers</li>
      <li>Tare Weight</li>
      <li>Distribution</li>
      <li>Transfer</li>
      <a href="">Available Units</a>
      <a href="">Top Rated Units</a>
      <a href=""> Reallocate All Cointainers</a>
      <a href=""> Reblance to New Weight</a>
    </ul>
    <ul>
      <li>E-sign and Save</li>
      <li>Save</li>
    </ul>
  </body>
</html>
