<!-- Summary of Transfers with Pending Changes -->

{% extends 'base.html' %}

{% block title %}FACT Pending{% endblock title %}

{% block content %}
  <div id="__pending">
    <h1 id="title">VAST - Cargo Transfer SUMMARY</h1>
    <section id="contract-info">
      <div class="info-field">
        <p><b>Contract NO.:</b></p>
        <p>AK023479</p>
      </div>
      <div class="info-field">
        <p><b>Total Weight:</b></p>
        <p>9001</p>
      </div>
      <div class="info-field">
        <p><b>Product CO.:</b></p>
        <p>Walmart</p>
      </div>
      <div class="info-field">
        <p><b>Contract Date:</b></p>
        <p>7/23/2036</p>
      </div>
      <div class="info-field">
        <p><b>Product:</b></p>
        <p>Fidget Spinners</p>
      </div>
      <div class="info-field">
        <p><b>Restrictions:</b></p>
        <p>None</p>
      </div>
      <div class="info-field">
        <p><b>Operator:</b></p>
        <p>That guy over there</p>
      </div>
  </section>
  <div class="border-line"></div>
  <section id="current-containers">
    <div id="current-containers-parts">
      <div class="container-headers">
        <p><b>Current Containers</b></p>
        <p></p>
        <p></p>
        <p class="align-end"><b>Tare WT</b></p>
        <p class="align-end"><b>DISTR</b></p>
        <p class="align-center"><b>XFR</b></p>
      </div>
      <div class="container-info">
        <p>JNL/10-448</p>
        <p><a href="#">BL144</a></p>
        <p><a href="#">COC</a></p>
        <p class="align-end">38538</p>
        <p class="align-end">49.1%</p>
        <p class="align-center"><a href="#">T</a></p>
      </div>
      <div class="container-info">
        <p>JNL/10-429</p>
        <p><a href="#">BL154</a></p>
        <p><a href="#">COC</a></p>
        <p class="align-end">39878</p>
        <p class="align-end">50.9%</p>
        <p class="align-center"><a href="#">T</a></p>
      </div>
    </div>
  </section>
  <div class="border-line"></div>
  <section id="hyperlinks">
    <p class="align-center"><a href="#">Available Containers</a></p>
    <p class="align-center"><a href="#">Reallocate Containers</a></p>
    <p class="align-center"><a href="#">Esign & Submit</a></p>
    <p class="align-center"><a href="#">GRADE A - WWT</a></p>
    <p class="align-center"><a href="#">Rebalance to New Weights</a></p>
    <p class="align-center"><a href="#">Print & Sign</a></p>
  </section>
</div>
{% endblock content %}